## Imports

In [1]:
# Imports
import pandas as pd
import numpy as np
import os

## Call Data Folder

In [2]:
# Call 'Data' folder
os.listdir("Data/")

['.ipynb_checkpoints',
 'title-akas-us-only.csv',
 'title.ratings.tsv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz']

## Load Datasets

In [3]:
# Load 'ratings' dataset
ratings = pd.read_csv('Data/title.ratings.tsv.gz', sep='\t', low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1989
1  tt0000002            5.8       265
2  tt0000003            6.5      1850
3  tt0000004            5.5       178
4  tt0000005            6.2      2635

In [4]:
# Load datatypes
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333579 entries, 0 to 1333578
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1333579 non-null  object
 1   averageRating  1333579 non-null  float64
 2   numVotes       1333579 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.5+ MB

In [5]:
# Load filtered 'akas' dataset
akas = pd.read_csv('Data/title_akas.csv.gz', low_memory=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

## Filtering/Cleaning Steps:
- Keep only movies that were included in your final title basics dataframe above.
 - (Use AKAs table, see "Filtering one dataframe based on another" section below)
 - Replace "\N" with np.nan (if any)

In [6]:
# Filter dataframe using 'akas' dataframe
keep = ratings['tconst'].isin(akas['titleId'])
keep

0           True
1           True
2          False
3          False
4           True
           ...
1333574    False
1333575    False
1333576    False
1333577    False
1333578    False
Name: tconst, Length: 1333579, dtype: bool

In [7]:
# Filter dataframe
ratings = ratings[keep]

In [8]:
# Replace "\N" with np.nan
ratings.replace({'\\N':np.nan}, inplace=True)
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1989
1        tt0000002            5.8       265
4        tt0000005            6.2      2635
5        tt0000006            5.0       183
6        tt0000007            5.4       825
...            ...            ...       ...
1333540  tt9916200            8.1       232
1333541  tt9916204            8.2       266
1333548  tt9916348            8.3        18
1333549  tt9916362            6.4      5442
1333554  tt9916428            3.8        14

[504060 rows x 3 columns]

## Final DataFrame Test

In [9]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504060 entries, 0 to 1333554
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         504060 non-null  object
 1   averageRating  504060 non-null  float64
 2   numVotes       504060 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.4+ MB

In [ ]:
# Save new dataframe to 'Data' folder.
ratings.to_csv("Data/title_ratings.csv.gz", compression='gzip', index=False)

### IMDB Data Sources:
- Downloads Page - https://developer.imdb.com/non-commercial-datasets/
- Data Dictionary - https://developer.imdb.com/non-commercial-datasets/
- IMDB Logo - https://www.themoviedb.org/about/logos-attribution

![blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg](attachment:blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg)